.chat-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chat-container{
    width: 90vw;
    height: 85vh;
    background-color: rgb(22, 22, 22);
    border-radius: 15px;

    display: grid;
    grid-template-columns: 25% 75%;
}
.chat-user-list{
    background-color: rgb(54, 54, 54);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    /* padding: 20px; */
}
.user-list-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.brand{
    margin-top: 20px;
    width: 100%;
    display: flex;    
    justify-content: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
}
.contact{
    display: flex;
    align-items: center;
    margin:5px 0;    
    cursor: pointer;
    background-color: rgb(46, 46, 46);
    border-radius: 7px;
    padding: 7px 15px;
    height: inherit;
}

.selected{
    background-color: rgb(28, 28, 28);
    transition: .5s ease all;
}
.contact p{
    margin-left: 10px;
}

.current-user{
    display: flex;
    gap: 1rem;
    align-items: center;
    
    margin: 0;
    justify-content: space-between;
}
.current-user-wrapper{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.body-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.body-wrapper h2{
    opacity: 0.4;
}
.chat-component-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.chat-component-wrapper .chat-header {
    padding: 20px 40px;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    border-top-right-radius:15px ;
}

.chat-user-details{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cross-btn {
    padding: 15px;
    border-radius: 100px;
    background-color: #242424;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}


.chat-input {
    flex: 0 0 auto;
    position: relative; 
  }
.chat-body{
    height: 100px;
    flex: 1 1 auto;
    overflow: auto;
    overflow-x: hidden;
    background-image: url("../assets/chatBackground.jpg");

}
.input-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #2e2e2e;
    gap: 2rem;
    border-bottom-right-radius: 15px ;
    
}
.input-wrapper img{
    cursor: pointer;
}
.input-wrapper input{
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
}
  .input-form{
    width: 100%;
    display: flex;
    gap: 2rem;

  }


  .send{
    background: transparent;
    outline: none;
    border: 0;
  }
  .emoji-picker-react{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #242424 !important; 
    border: none !important;
  }

  .EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {

      background-color: #242424 !important; 
  }
  .EmojiPickerReact .epr-search-container input.epr-search  {
    background-color: #424242 !important; 
    border: none !important;
  }
  .epr-preview{
    display: none !important;
  }

  .EmojiPickerReact{
    position: absolute !important;
    top: -350px;
  }
  .chat-body{
    padding: 20px;
  }

  .content{
    margin: 10px;
    min-width: inherit;
    width: max-content;
    max-width: 50%;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    
  }
  .content  p{
    padding: 15px 20px;
    border-radius: 7px;
}
.content span{
    margin-top: 2px;
    font-size: 11px;
    opacity: 0.5;
}
.recieved p{
    padding: 15px 20px;
    border-radius: 7px;
    background-color: #252525;
    align-items: end;
}
.sended p{
    padding: 15px 20px;
    border-radius: 7px;
      background-color: #424242;

  }

  .recieved .content{
    display: flex;
    align-items: start;
  }
  .sended .content{
    display: flex;
    align-items: end;
  }
  .sended{
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    justify-content: flex-end;
  }

@media only screen and (max-width: 994px) {
    .chat-container{
        width: 100vw;
        height: 100vh;
        /* grid-template-columns: 30% 70%; */
    }
    .chat-user-list{
        border-radius: 0 ;
    }
    .chat-header{
        border-top-right-radius: 0px  !important;
    }
    .input-wrapper{
        border-bottom-right-radius: 0px;
    }
  }


  @media only screen and (max-width: 740px) {
    .chat-container{
        grid-template-columns: 1fr 10fr;
    }
    .input-wrapper{
        padding: 20px 20px;
        background-color: #2e2e2e;
        gap: 1rem;
    }
    .input-form{
        
        gap: 1rem;
    
      }
      .username{
        display: none;
      }
      .avatar-user{
        display: none;
      }
      .emoji{
        display: none;
      }
      .brand img{
        width: 50px !important;
        
      }
      .chat-user-list{
        width: max-content;
      }
      .contacts{
        padding: 10px 0;
        
      }
      .contact{
        background-color: transparent;
      }
  }