.chat-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chat-container{
    width: 90vw;
    height: 85vh;
    background-color: rgb(22, 22, 22);
    border-radius: 15px;

    display: grid;
    grid-template-columns: 25% 75%;
}
.chat-user-list{
    background-color: rgb(54, 54, 54);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    /* padding: 20px; */
}
.user-list-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.brand{
    margin: 20px 0;
    width: 100%;
    display: flex;    
    justify-content: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
}
.contact{
    display: flex;
    align-items: center;
    margin:5px 0;    
    cursor: pointer;
    background-color: rgb(46, 46, 46);
    border-radius: 7px;
    padding: 7px 15px;
    height: inherit;
}

.selected{
    background-color: rgb(28, 28, 28);
    transition: .5s ease all;
}
.contact p{
    margin-left: 10px;
}

.current-user{
    display: flex;
    gap: 1rem;
    align-items: center;
    
    margin: 0;
    justify-content: space-between;
}
.current-user-wrapper{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.body-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.body-wrapper h2{
    opacity: 0.4;
}
.chat-component-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.chat-component-wrapper .chat-header {
    padding: 20px 40px;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    border-top-right-radius:15px ;
}

.chat-user-details{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cross-btn {
    padding: 15px;
    border-radius: 100px;
    background-color: #242424;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.input-wrapper{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px 40px;
    background-color: #2e2e2e;
}
.input-wrapper img{
    cursor: pointer;
}
.input-wrapper input{
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 90%;
}
.chat-input {
    flex: 0 0 auto; 
  }
.chat-body{
    height: 100px;
    flex: 1 1 auto;
    overflow: auto;
    overflow-x: hidden;
}
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 40px; 
  }
  
  .input-wrapper .emoji,
  .input-wrapper .send {
    flex: 0 0 auto; 
  }
  
  .input-wrapper .input-tab {
    flex: 1 1 auto; 
    margin: 0 30px;
    height: 100%; 
  }
  
  .input-wrapper .input-tab form {
    /* margin: 0 10px ; */
    width: 100%; /* Take up full width */
    height: 100%;
  }
  
  .input-wrapper .input-tab input[type="text"] {
    width: 100%; 
    padding: 8px; 
    border: none;
    border-radius: 5px; 
    height: 30px;
    font-size: 16px;
  }

  .emoji-picker-react{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #242424 !important; 
    border: none !important;
  }

  .EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {

      background-color: #242424 !important; 
  }
  .EmojiPickerReact .epr-search-container input.epr-search  {
    background-color: #424242 !important; 
    border: none !important;
  }
@media only screen and (max-width: 994px) {
    .chat-container{
        width: 100vw;
        height: 100vh;

        grid-template-columns: 30% 70%;

    }
  }